body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-section {
    background-color: #80aaff;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px;
}

.box-title-left {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.border-box {
    width: 180px;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.white-box {
    width: 180px;
    height: auto;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.split {
    width: 10px;
    background-color: #000;
}

.right-section {
    background-color: #F5F3EE;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 120px;
    width: 100%;
}

.right-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.video-container {
    width: 70%;  /* Take up more space */
    padding-right: 20px; /* Add space between video and text */
    box-sizing: border-box;
}

.text-container {
    width: 30%;  /* Take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px; /* Add space between the text and video */
    box-sizing: border-box;
}

.box-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
    text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.box-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: Black;
    margin-top: 5px;
    text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.box-description {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 5px;
    line-height: 1.6;
    text-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
    max-width: 80%;
}
